html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: -webkit-linear-gradient(#ee7261, #eadfff);
	background: linear-gradient(#ee7261, #eadfff);
}

.score {
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  color: white;
  font-size: 30px;
}
