html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: -webkit-linear-gradient(#ee7261, #eadfff);
	background: linear-gradient(#ee7261, #eadfff);
  transition: all 2s;
}

.score {
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  color: white;
  font-size: 30px;
}

#balloons-bar-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

#balloons-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: rgba(33, 153, 232, 1);
  z-index: 2;
  transition: all 2s;
}

#balloons-bar-balloon {
  position: fixed;
  width: 17px;
  top: -1px;
  left: 100%;
  z-index: 2;
  transition: all 2s;
}
