html {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: -webkit-linear-gradient(#ee7261, #eadfff);
	background: linear-gradient(#ee7261, #eadfff);
  transition: all 2s;
}

#balloons-bar-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

#balloons-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(33, 153, 232, 1);
  z-index: 2;
  transition: all 2s;
}

#balloons-bar-balloon {
  position: fixed;
  width: 23px;
  top: -4px;
  left: 100%;
  z-index: 2;
  transition: all 2s;
  animation: rotating 0.5s ease-in-out infinite;
}

#levels-bar-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

#levels-bar {
  position: fixed;
  display: inline;
  color: black;
  padding-left: 2%;
  font-size: 25px;
  font-weight: 700;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(238, 115, 98, 1);
  z-index: 2;
  transition: all 2s;
}

#level-number {
  display: inline;
}

#levels-bar-level {
  position: fixed;
  width: 50px;
  bottom: -3px;
  left: 100%;
  z-index: 2;
  transition: all 2s;
  animation: rotating 0.5s ease-in-out infinite;
}

@keyframes rotating {
  0% {
    -ms-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -ms-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
