extends layout

block content
  #balloons-bar-bg
  #balloons-bar
  img#balloons-bar-balloon(src='img/balloon-bar.png', alt='bb')
  #levels-bar-bg
  #levels-bar
    | LEVEL
    #level-number 1
  img#levels-bar-level(src='img/russell-small.png', alt='lb')
  #world.world

  section.players
    h1
      | Fearless Adventurer
    ol
      li
        em.p0 Henry Bi
        strong.s0 6873
      li
        em.p1 Kelli McKeown
        strong.s1 5372
      li
        em.p2 Willy Schu
        strong.s2 5199
      li
        em.p3 Sandy McMuffin
        strong.s3 4783
      li
        em.p4 Russell Wilson
        strong.s4 4668


  script(type='text/javascript', src='js/jquery-3.0.0.js')
  script(type='text/javascript', src='js/stats.js')
  script(type='text/javascript', src='js/TweenMax.js')
  script(type='text/javascript', src='js/three.js')
  script(type='text/javascript', src='js/collada.js')
  script(type='text/javascript', src='js/bg-music.js')
  script(type='text/javascript', src='js/game.js')
