extends layout

block content
    script(src='https://cdn.auth0.com/js/lock-9.1.min.js')
    script(type='text/javascript').
        var lock = new Auth0Lock('Tccv5ZzgEOeZyOdrg6KjsDZblvWlxtnX', 'henrybi.auth0.com');
        
        var callBackUrl;
        
        if (window.location.href == 'http://upupandaway.herokuapp.com/') {
          callBackUrl = 'http://upupandaway.herokuapp.com/callback';
        } else {
          callBackUrl = 'http://localhost:3000/callback';
        }
        
        function signin() {
          lock.show({
            callbackURL: callBackUrl,
            responseType: 'code',
            authParams: {
              scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
            }
          });
        }

    img.landing-bg(src='img/bg1.jpg', alt='bg')
    h1.landing-title UP UP & AWAY!!!
    h2.landing-title-small(onclick='window.signin();') lets go on an adventure...
