.landing-bg {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}

.landing-title {
  position: fixed;
  color: white;
  font-size: 80px;
  font-weight: 700;
  top: 200px;
  right: 24%;
  z-index: 2;
}

.landing-title-small {
  position: fixed;
  color: white;
  font-size: 40px;
  top: 320px;
  right: 24%;
  z-index: 2;
  cursor: pointer;
  transition: all 1s;
}

.landing-title-small:hover {
  color: #fa6855;
  transition: all 1s;
}
